<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="INSPIREfetcher" version="0.3">

  <requires>
    <import plugin-id="net.sf.jabref.core"/>
  </requires>

  <runtime>
    <library type="code" path="./" id="code"/>
  </runtime>

  <extension id="INSPIREfetcher" plugin-id="net.sf.jabref.core"
             point-id="EntryFetcher">
    <parameter id="entryFetcher"
               value="INSPIREfetcher.INSPIREfetcher" />
    <parameter id="name"
               value="INSPIRE Entry Fetcher" />
    <parameter id="description"
               value="Fetch Entries from INSPIRE." />
  </extension>

</plugin>
